<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kyc_id</title>
</head>

<body>
    <h1>KYC Details</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        <input type="number" name="kyc_id" placeholder="Kyc id"><br> <br>
        <input type="number" name="user_id" placeholder="user id"><br> <br>
        <input type="number" name="card_number" placeholder="Card No."><br> <br>
        <input type="text" name="card_per_name" placeholder="Card per Name"><br> <br>
        <input type="date" name="card_dob" placeholder="Card per Name"><br> <br>
        <input type="file" name="file" placeholder="aadhar Card"><br> <br>
        <input type="text" name="is_status" placeholder="Status"><br> <br>
        <input type="text" name="is_type" placeholder="Id Type"><br> <br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>