<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Document</title>
</head>

<body class="container">
    <h1>Withdraw Request</h1>
    <br>
    <!-- id user_id refund_amount request_status email type created_at modified_at -->

    <form action="" method="POST">
        <input type="number" name="user_id" placeholder="User id"><br> <br>
        <input type="number" name="refund_amount" placeholder="Refund amount"><br><br>
        <input type="text" name="request_status" placeholder="Request status"><br><br>
        <input type="email" name="email" placeholder="Email"><br><br>
        <input type="text" name="type" placeholder="Type"><br><br>
        <input type="date" name="created_at" placeholder="created_at"><br><br>
        <input type="date" name="modified_at" placeholder="modified_at"><br><br>

        <input type="submit" value="Submit" placeholder="Status">
    </form>
</body>

</html>